body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("./images/madlibs.png");
    
}


#container2, #container4 {
    color: rgb(0, 0, 0);
}

#container3 {
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: rgb(210, 241, 242, 0.5);
    border-radius: 10px;
    border: 2px solid black;
}

input {
    width: 75px;
    height: 15px;
}

#input {
    width: 95%;
    font-size: large;
    font-weight: 500;
    background-color: rgb(210, 241, 242, 0);
    line-height: 1.5em;
    flex-direction: wrap;
    /* display: inline; */
    padding: 20px 0px 20px 0px;
    
}


#container5 {
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: rgba(246, 248, 239, 0.83);
    border-radius: 10px;
    border: 2px solid black;
}

#output {
    width: 95%;
    font-size: large;
    font-weight: 500;
    background-color: rgba(246, 248, 239, 0);
    line-height: 1.5em;
    flex-direction: wrap;
    /* display: inline; */
    padding: 20px 0px 20px 0px;
    
}

input:focus {
      background: #ffc787;
}


/**
 * Your CSS goes here.
 */